@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f3f3f3;
  color: #5e5e5e;
  font-family: 'Poppins';
}

a {
  font-weight: 500;
}

img {
  width: 100%;
  height: auto;
}

.section-grid__love--container {
  max-width: 1230px;
  margin: 0 auto;
}

/* first grid complex */

.section-grid__layout--1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
}

.section-grid__outside--title {
  margin-top: 130px;
  margin-bottom: 100px;
}

.section-grid__picture {
  position: relative;
}

.section-grid__absolute--text,
.section-grid__absolute--2,
.section-grid__absolute--4,
.section-grid__absolute--7,
.section-grid__absolute--8,
.section-grid__absolute--sixth,
.section-grid__absolute--tech {
  position: absolute;
  left: 30px;
  top: 30px;
  text-decoration: none;
  display: inline-block;
  height: auto;
  font-size: 10px;
  line-height: 10px;
  padding: 7px 11px 6px;
  border-radius: 20px;
  margin-right: 5px;
  text-transform: uppercase;
  vertical-align: top;
  transition: all 0.2s ease-in-out;
}

.section-grid__camera--food {
  display: flex;
  align-items: center;
  background-color: #61c436;
  color: white;
  text-decoration: none;
  height: auto;
  font-size: 10px;
  line-height: 10px;
  padding: 7px 11px 6px;
  border-radius: 20px;
  margin-right: 5px;
  text-transform: uppercase;
  vertical-align: top;
  transition: all 0.2s ease-in-out;
}

.section-grid__absolute--container,
.section-grid__absolute--eighth {
  position: absolute;
  left: 30px;
  top: 30px;
  display: flex;
  align-items: center;
}

.section-grid__absolute--3,
.section-grid__absolute--5,
.section-grid__absolute--6 {
  text-decoration: none;
  padding: 7px 11px 6px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  vertical-align: top;
  border-radius: 20px;
  height: auto;
  font-size: 10px;
  line-height: 10px;
  margin-right: 5px;
}

.section-grid__absolute--text,
.section-grid__absolute--7,
.section-grid__absolute--sixth {
  color: #ffffff;
  background-color: #009cff;
}

.section-grid__absolute--2,
.section-grid__absolute--8 {
  color: #ffffff;
  background-color: #61c436;
}

.section-grid__absolute--3 {
  color: #ffffff;
  background-color: #a66bbe;
}

.section-grid__absolute--4,
.section-grid__absolute--5,
.section-grid__absolute--tech {
  color: #ffffff;
  background-color: #f99500;
}

.section-grid__absolute--6 {
  color: #ffffff;
  background-color: #d60000;
}

.section-grid__absolute--text:hover,
.section-grid__absolute--2:hover,
.section-grid__absolute--3:hover,
.section-grid__absolute--4:hover,
.section-grid__absolute--5:hover,
.section-grid__absolute--6:hover,
.section-grid__absolute--sixth:hover,
.section-grid__absolute--tech:hover {
  color: #000000;
  background-color: #ffffff;
}

.section-grid__absolute--7:hover,
.section-grid__absolute--8:hover {
  color: #ffffff;
  background-color: #000000;
}

.section-grid__card {
  background-color: #ffffff;
  position: relative;
}

.section-grid__card--c {
  background-color: #ffffff;
  position: relative;
  height: 300px;
}

.section-grid__play--svg {
  width: 24px;
  height: 24px;
  color: #ffffff;
  margin-right: 5px;
}
.section-grid__play--2 {
  width: 24px;
  height: 24px;
  color: #000000;
  margin-right: 5px;
}

.section-grid__eye--svg,
.section-grid__comment--svg {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.svg__comment {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.svg__comment--2 {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.section-grid__title--card {
  padding: 23px 30px 20px;
}

.section-grid__title--anchor {
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.section-grid__title--anchor:hover,
.section-grid__title--second:hover,
.section-grid__title--third:hover,
.section-grid__title--b:hover {
  color: #009cff;
}

.section-grid__description--below {
  display: flex;
  padding: 0 20px 20px 30px;
}

.section-grid__person--desc {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.section-grid__person--name {
  color: #818181;
}

.section-grid__calendar--desc {
  display: flex;
  align-items: center;
  color: #818181;
}

.section-grid__person {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
}

.section-grid__svg--calendar {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* end first grid complex */

/* start second grid complex */

.section-grid__layout--2 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
}

.section-grid__column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #ffffff;
}

.section-grid__column--picture {
  grid-column-start: 1;
}

.section-grid__picture--7 {
  height: 100%;
  width: 100%;
}

.object__fit {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.section-grid__column--2 {
  grid-column-start: 2;
  position: relative;
  height: 300px;
}

.section-grid__title--second,
.section-grid__title--third,
.section-grid__title--b {
  text-decoration: none;
  color: #000000;
  line-height: 1.33;
}

.section-grid__title--second {
  font-size: 22px;
}

.section-grid__title--third,
.section-grid__title--b {
  font-size: 20px;
}

.camera__svg {
  width: 24px;
  height: 24px;
}

.camera-svg__2 {
  width: 24px;
  height: 24px;
  color: white;
}

.section-grid__text--section,
.section-grid__text--2 {
  margin-top: 70px;
  padding: 0 30px 30px 30px;
}

.section-grid__title--description,
.section-grid__description--b {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 8px;
}

.section-grid__person--container {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.section-grid__person--2 {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
}

.svg__eye {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/* end of second grid complex */

/* start third grid complex */

.section-grid__layout--3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

/* end third grid complex */

/* start fourth grid complex */

.section-grid__column--fourth {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

/* end fourth grid complex */

/* start fifth grid complex */

.section-grid__column--fifth {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

/* end fifth grid complex */

/* start sixth grid complex */

.section-grid__column--sixth {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.section-grid__card--sixth {
  position: relative;
}

.section-grid__picture--sixth {
  width: 100%;
  height: 100%;
}

.picture__sixth {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.section-grid__picture--sixth::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.section-grid__text--sixth {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  margin-top: 70px;
  padding: 0 30px 0 30px;
}

.section-grid__text--seventh {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  margin-top: 70px;
  margin-left: 33px;
}

.section-grid__text--eighth {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  margin-top: 70px;
  margin-left: 33px;
  max-width: 350px;
}

.section-grid__title--sixth {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
}

.section-grid__name--sixth {
  color: #ffffff;
  font-size: 12px;
}

.section-grid__person--sixth {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
}

.section-grid__absolute--sixth,
.section-grid__absolute--eighth,
.section-grid__absolute--tech,
.section-grid__absolute--container,
.section-grid__absolute--8 {
  z-index: 2;
}
/* end sixth grid complex */

/* start seventh grid complex */

.section-grid__column--seventh {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.section-grid__picture--seventh {
  width: 100%;
  height: 300px;
}

.section-grid__picture--seventh::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.section-grid__person--seventh {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  z-index: 2;
  padding-left: 30px;
}

/* end seventh grid complex */

/* start eighth grid complex */

.section-grid__column--eighth {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
}

.section-grid__person--eighth {
  display: flex;
  align-items: center;
  margin-top: 110px;
}
